* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --secondary-color: #171100;
    --font-heading: Sen, sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-family: "poppins", sans-serif;
    font-size: 62.5%;
}

.body {
    font-size: 1.6rem;
}

/* common */
a {
    text-decoration: none;
}

.content {
    width: 1170px;
    max-width: calc(
        100% - 48px
    ); /* không bị lỗi giao diện khi width của trình duyệt bé hơn 1110 */
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line2 {
    --line-clamp: 2;
}

.break-all {
    word-break: keep-all;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: var(--secondary-color);
    border-radius: 999px;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.8;
}

/* ===============header================================ */
main {
    height: 30000px;
}
header {
    background: #fffcf4;
    z-index: 1;
}

.fixed {
    position: sticky;
    top: -28px;
}

.header {
    padding: 36px 0px 8px;
    display: flex;
    align-items: center;
}

.header .navigation {
    margin-left: auto;
}

.header .navigation .lish {
    display: flex;
}

.header .lish .item a {
    padding-right: 6px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #5f5b53;
    padding: 8px 21px;
}

.header .lish .item:hover a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
    position: relative;
}

.header .navigation:hover .item a::after {
    position: absolute;
    content: "";
    display: block;
    bottom: 6px;
    left: 21px;
    height: 2px;
    width: 12px;
    background: #171100;
    border-radius: 1px;
}

.header .btn {
    margin-left: 70px;
    width: 144px;
}

/* ===================HERO================= */
.hero {
    padding-top: 56px;
    background-color: #fffcf4;
    height: calc(100vh - 94px);
}

.hero .body {
    display: flex;
}

.hero .hero-img {
    position: relative;
    width: 48%;
}

.hero .hero-img .img {
    /* xử lý ảnh vào */
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-img .summary {
    width: 270px;
    /* height: 244px;   không canh chiều vào vì có thể != 3 item */
    background-color: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    position: absolute;
    bottom: 48px; /* canh bottom để khi != 3 item thì cao lên*/
    right: 0px;
    padding: 24px;
}

.hero-img .summary .item {
    margin-top: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.hero-img .summary .item + .item {
    margin-bottom: 14px;
}
.summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fcefff;
}

.summary .item:first-of-type .icon {
    background: #fff9e8;
}

.summary .item:last-of-type .icon {
    background: #ebeaff;
}

.summary .info {
    margin-left: 16px;
}

.summary .info .label {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.summary .info .title {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* media-block  */

.hero .media-block {
    width: 52%;
    padding-left: 130px;
    padding-top: 65px;
}

.media-block .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
    width: 482px;
}

.media-block .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.media-block .stats {
    margin-left: -28px; /* */
    margin-top: 8px;
}

.media-block .stats strong {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
    padding-right: 8px;
    margin-left: 28px; /* */
}

.media-block .cta-group {
    margin-top: 38px;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
}

.media-block .cta-group .btn-cta {
    background-color: var(--primary-color);
    width: 180px;
    line-height: 64px;
}

.media-block .watch-video {
    border: none;
    background-color: transparent;
    display: flex;
    margin-left: 28px;
    align-items: center;
    cursor: pointer;
}

.media-block .watch-video .icon {
    width: 40px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.media-block .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* =======================popular=================== */
.popular {
    padding: 60px 0;
    margin-top: 140px;
}

.popular .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .info .title {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.popular-top .info .desc {
    margin-top: 16px;
    width: 458px;
    font-size: 18px;
    line-height: 1.67;
    color: #5f5b53;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .controls .control-btn {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.popular-top .controls .control-btn:hover {
    color: white;
    background: #ffb900;
}

/* -----------Course---------- */
.course {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .course-item {
    flex: 1;
    background: #ffffff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.popular .course-item:hover {
    border: transparent;
    background: #ffffff;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.course-item .info {
    padding: 16px 22px 22px 22px;
}

.course-item .info .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-item .thumb {
    margin-left: -1px;
    margin-top: -1px;
    width: calc(100% + 2px);
    height: 280px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
}

.course-item .info .head .title a {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.course-item .info .rating {
    display: flex;
    align-items: center;
    gap: 6px;
}

.course-item .info .value {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}

.course-item .info .desc {
    max-width: 326px;
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.course-item .info .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.course-item .foot .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.course-item .foot .book-btn:hover {
    background: #ffb900;
}

.course-item .foot .book-btn {
    border: none;
}

/* ==================feedback================ */
.feedback {
    margin-top: 140px;
    background-color: #2e2100;
}

.feedback .info .avt {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .lish {
    display: flex;
    overflow: hidden;
}

.feedback .lish .item {
    justify-content: space-between;
    align-items: center;
    padding: 96px 0;
    display: flex;
    flex-shrink: 0;
}

.feedback .info .title {
    font-family: var(--font-heading);
    margin-top: 18px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.feedback .info .desc {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.feedback .info .dots {
    margin-top: 28px;
    display: flex;
}

.feedback .main-content {
    position: relative;
    margin-left: 271px;
}

.feedback .main-content img {
    position: absolute;
    top: -28px;
    left: -30px;
}

.feedback .main-content blockquote {
    width: 740px;
    font-style: italic;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}

.feedback .item .info .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback .item .info .dot.active {
    cursor: default;
    background: #ffb900;
}

.feedback .lish .item {
    /* =============side test=========== */
    transform: translate(calc(-100% * 2));
    transition: all ease 0.3s;
}

/* =====================feature1=================== */
.feature {
    margin-top: 165px;
    padding: 35px 0;
}

.main-feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-feature .image {
    display: flex;
    gap: 0 30px;
}

.main-feature .info {
    width: 41%;
}

.main-feature .info .title {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.main-feature .info .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.main-feature .info .signup-btn {
    width: 137px;
    margin-top: 32px;
    border: none;
    background-color: var(--primary-color);
}

.main-feature .img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.main-feature .img:nth-child(1) {
    margin-top: 34px;
}

/* =====================feature2=================== */
.feature2 {
    margin-top: 130px;
}

.feature2 .image .img {
    margin-top: 0px;
    width: 470px;
    height: 440px;
}

.feature2 .info {
    width: 50%;
}


/* ======================Blogs================ */
.blogs {
    margin-top: 69px;
    padding-top: 96px;
    padding-bottom: 140px;
    background: #FFFCF4;
}

.blogs .head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogs .head .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #130606;
}

.blogs .head .desc {
    margin-top: 16px;
    width: 448px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
    text-align: center;
}

.blogs .body .lish{
    margin-top: 55px;
    display: flex;
    flex:1; 
}

.blogs .body .item:not(:first-child){
    margin-left: 30px;
}

.blogs .body .item:hover{
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blogs .body .item{
    width: 370px;
    height: 467px;
    background: #FFFFFF;
    border-radius: 16px;
}

.blogs .body .thumb{
    width: 370px;
height: 250px;
object-fit: cover;
border-radius: 16px 16px 0px 0px;
}

.blogs .body .info{
    padding: 20px;
}

.blogs .info .dates{
    display: flex;align-items: center;gap: 4px;
}

.blogs .info .dates .dot{
    display: block;
    width: 6px;
height: 6px;
background: #FFB900;
border-radius: 50%;
}

.blogs .info .line{
    margin-top: 12px;
    width: 160px;
    height: 1px;
    background: #E2DFDA;
    border-radius: 0.5px;
}

.blogs .info .title {
    margin-top: 12px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.blogs .info .read-more{
    margin-top: 12px;
}

.blogs .info .read-more:hover{
    background-color: var(--primary-color);
}

.body .dots{
justify-content: center;
    display: flex;
    gap: 6px;
}

.body .dots .dot{
    cursor: pointer;
    margin-top: 38px;
    width: 6px;
    height: 6px;
    background: #5F5B53;
    border-radius: 50%;
}

.body .dots .dot.active{
    cursor: default;
    background: #FFB900;
}